body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  width: 100%
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
  background: black;
  color: white;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

div.pre {
    width: 50%;
    word-wrap: auto;
    margin-left: 24%;
}

div.title {
    width: 100%;
    text-align: center;
}

div.weather-report {
    width: 100%;
    border-bottom: 1px solid grey;
    // border: 1px solid red; // debug

    span.day.future-day {
        opacity: 0.65;
    }

    span.day {
        // border: 1px solid green; // debug
        border-top: 1px solid white;
        height: 130px;
        width: 95px;
        display: inline-block;
        padding: 10px 10px;
        text-align: center;

        img {
            display: inline-block;
            // border: 1px solid white;
        }
        div.temp {
            display: block;
            &:after {
                content: " ℃";
            }
        }
    }
}
